<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" ng-app="app">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>myProject</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link href="/css/main.css" rel="stylesheet" type="text/css">

</head>
<body>
<div class="slide_1" ng-controller="auth">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <form action="#" class="">

                    <h1 class="text-center">Регистрация</h1>

                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input ng-model="user.email" type="email" class="form-control input-lg" id="exampleInputEmail1" placeholder="Enter email">
                </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input ng-model="user.password" type="password" class="form-control input-lg" id="exampleInputPassword1" placeholder="Password">
                    </div>
                <button ng-click="SignIn($event)" type="button" class="btn btn-success btn-block">Войти</button>
                </form>

            </div>
        </div>
    </div>
</div>

<div class="slide_2" ng-controller="messageCtrl">
    <div class="container">
        <div class="message">
            <p>Message</p>
            <ul>
                <li ng-repeat="m in messages">{{m.$value}}</li>
            </ul>


            <div class="addComment">
                <input ng-model="name" placeholder="Введете ваше имя">
                <input ng-model="text" placeholder="Введите Ваш отзыв">
                <button ng-click="addMessage(text,name)" type="button"></button>
            </div>
        </div>
    </div>
</div>



        <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js'></script>
        <script type="text/javascript" src="/js/angular.js"></script>

        <script type="text/javascript" src="/js/angular-locale_os-ru.js"></script>
        <script src='http://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
        <script src="http://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>

        <script src="https://cdn.firebase.com/js/simple-login/1.6.2/firebase-simple-login.js"></script>

        <script type="text/javascript" src="/app/app.js"></script>
        <script type="text/javascript" src="/app/services/api.js"></script>
        <script type="text/javascript" src="/app/controllers/message.js"></script>
        <!--<script type="text/javascript" src="/js/bootstrap.min.js"></script>-->
        <!--Firebase-->
        <script type="text/javascript" src="app/controllers/auth.js"></script>


    </body>
</html>
